/* 헤더 */
.logo-img {
    height: 70px;
    object-fit: contain;
    padding-right: 10px;
}

/* 로그인 */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 10px;
}

.mb-4 {
    width: 150px;
    height: 80px;
}

.sidebar {
    border-right: 2px solid #dee2e6;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);
    height: 100vh;
}

.nav-link {
    display: block;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    border-radius: 4px;
}

 nav {
     min-height: 100%;
 }

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}

.sidebar-sticky {
    position: static;
    padding-top: 20px;
}
.row-full {
    min-height: 100vh;
}
