<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.example.mvcproject.mapper.UserMapper">

    <resultMap id="userMap" type="UserVO">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="role" column="ROLE"/>
    </resultMap>

        <!-- 회원가입: INSERT 쿼리 -->
        <insert id="insertUser" parameterType="UserVO">
            INSERT INTO users (
               id, user_id, password, nickname, created_at,role
            ) values (
               users_seq.NEXTVAL, #{userId}, #{password}, #{nickname},CURRENT_TIMESTAMP,#{role}
            )
        </insert>

        <!-- 아이디 중복 체크 쿼리 -->
        <select id="countByUserId" parameterType="string" resultType="int">
            SELECT COUNT(*) FROM users WHERE user_id = #{userId}
        </select>

        <!--닉네임 중복 체크-->
        <select id="countByNickname" resultType="int" parameterType="string">
            SELECT COUNT(*) FROM users WHERE nickname = #{nickname}
        </select>

        <!-- 로그인 -->
        <select id="selectUserById" parameterType="String" resultMap="userMap">
            SELECT ID, USER_ID, PASSWORD, NICKNAME, CREATED_AT,ROLE
            FROM USERS
            WHERE USER_ID = #{userId}
        </select>




</mapper>

